@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* Global Style*/
.container {
  width: 90%;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 185vh;
  display: flex;
}

nav {
  background-color: #581c87;
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-group {
  position: sticky;
  top: 1.5rem;
}

main {
  flex: 7;
  height: 100%;
  background-color: #cbd5e1;
  display: flex;
  flex-direction: column;
}

i {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  color: white;
}

.black-icon {
  color: black;
}

.nav-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-left: 1.5rem;
}

.nav-text {
  font-weight: bold;
  color: white;
}

#group-one > .nav-item-group > .nav-text {
  margin: 7px 0 7px 0;
  font-size: 20px;
}

#group-two > .nav-item-group > .nav-text {
  margin: 7px 0 7px 0;
  font-size: 20px;
}

#group-two {
  margin-top: 3rem;
}

.nav-item-group {
  display: grid;
  grid-template-columns: 20px 3fr;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-left: 1.5rem;
}

i:hover {
  cursor: pointer;
}

.nav-text {
  cursor: pointer;
}

section {
  background-color: #f5f3ff;
  flex: 1;
}

article {
  flex: 3;
}

#search-bar-group {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#section-items {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 2fr 5fr;
}

#search-bar {
  width: 100%;
  height: 1.5rem;
  border: none;
  border-radius: 15px;
  background-color: #c5c3cd;
  border: 2px #7d7d80 solid;
  padding-left: 10px;
}

#search-bar:focus {
  outline: none;
}

#profile-username:hover {
  cursor: pointer;
}

#profile-section {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

#user-welcome-section {
  width: 85%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
}

#profile-picture {
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#greet {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: end;
}

#username {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: start;
}

#section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  border: none;
  border-radius: 15px;
  width: 7.5rem;
  height: 2.5rem;
  background-color: #581c87;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: #450d70;
}

#article-items {
  width: 95%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
}

#aside-section {
  display: flex;
  flex-direction: column;
}

#announcements-section {
  flex: 1;
  width: 90%;
  height: 100%;
  margin: auto;
  overflow: none;
}

#announcements-card {
  width: 100%;
  height: 80%;
  border-radius: 12px;
  background-color: #f5f3ff;
  box-shadow: 5px 5px 10px #7d7d80;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.announcement-row {
  width: 90%;
  margin: auto;
}

.announcement-border {
  padding-bottom: 1rem;
  border-bottom: 1px solid #9a9a9a;
}

.announcement-row > h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.announcement-row > p {
  font-size: 12px;
  margin: 0;
}

#trending-section {
  flex: 1;
  width: 90%;
  height: 100%;
  margin: auto;
  overflow: none;
}

#projects-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#project-header {
  flex: 0.5;
}

#card-groups {
  flex: 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.card {
  width: 95%;
  height: 100%;
  background-color: #f5f3ff;
  border-left: #450d70 8px solid;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #7d7d80;
  display: flex;
  flex-direction: column;
}

.card-text {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  flex: 3;
}

.card-text > h1 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.card-text > p {
  margin: 0;
  font-size: 14px;
}

.card-buttons {
  margin-right: 1rem;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

#trending-card {
  width: 100%;
  height: 80%;
  border-radius: 12px;
  background-color: #f5f3ff;
  box-shadow: 5px 5px 10px #7d7d80;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user {
  width: 100%;
  display: flex;
}

.user-profile-image {
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-username {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-username > h1 {
  font-size: 16px;
  margin: 0;
}

.user-username > h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
